<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 border border-dark" href="#"
                id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 border border-dark" href="#"
                id="eskating-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Eskating
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="eskating-link">

                <a href="{% url 'products' %}?category=antisparkswitch" class="dropdown-item">Antispark Switch</a>
                <a href="{% url 'products' %}?category=vesc" class="dropdown-item">Vesc</a>
                <a href="{% url 'products' %}?category=nrffireflyremote" class="dropdown-item">Nrf Firefly Remote</a>
                <a href="{% url 'products' %}?category=antisparkswitch,vesc,nrffireflyremote" class="dropdown-item">All
                    Eskating</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 border border-dark" href="#" id="fpv-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fpv
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fpv-link">
                <a href="{% url 'products' %}?category=flightcontroller" class="dropdown-item">Flight Controller</a>
                <a href="{% url 'products' %}?category=esc" class="dropdown-item">Esc</a>
                <a href="{% url 'products' %}?category=flightcontroller,esc" class="dropdown-item">All Fpv</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black border border-dark" href="#" id="3dprinting-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                3D Printing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="3dprinting-link">
                <a href="{% url 'products' %}?category=plafilament" class="dropdown-item">Pla Filament</a>

                <a href="{% url 'products' %}?category=plafilament" class="dropdown-item">All 3D Printing</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 border border-dark" href="#"
                id="electroniccomponents-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Electronic Components
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="electroniccomponents-link">
                <a href="{% url 'products' %}?category=nrf2401l" class="dropdown-item">nrf2401l</a>
                <a href="{% url 'products' %}?category=nrf2401l" class="dropdown-item">All Electronic
                    Components</a>
            </div>

        </li>


        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 border border-dark"
                href="{% url 'contact:send_email' %}" id="contact-link" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 border border-dark"
                href="{% url 'bloghome' %}" id="blog-link" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>
    </ul>
</div>