<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="eskating-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Eskating
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="eskating-link">

                <a href="" class="dropdown-item">Antispark Switch</a>
                <a href="" class="dropdown-item">Vesc</a>
                <a href="" class="dropdown-item">Nrf Firefly Remote</a>
                <a href="" class="dropdown-item">All
                    Eskating</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fpv-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Fpv
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fpv-link">
                <a href="" class="dropdown-item">Flight Controller</a>
                <a href="" class="dropdown-item">Esc</a>
                <a href="" class="dropdown-item">All Fpv</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="3dprinting-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                3D Printing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="3dprinting-link">
                <a href="" class="dropdown-item">Pla Filament</a>

                <a href="" class="dropdown-item">All 3D Printing</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="electroniccomponents-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Electronic Components
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="electroniccomponents-link">
                <a href="" class="dropdown-item">nrf2401l</a>
                <a href="" class="dropdown-item">All Electronic
                    Components</a>
            </div>
        </li>
    </ul>
</div>